<div class='rui-footer'>
  <div class='rui-fix-menu-toggle'>
    {{#rui-button action=(action 'toggleFixedMenu') style='link' class=(if menu.fixMenu 'active') }}
        {{#if menu.unfixMenu}}
          {{rui-icon name='chevron-right'}}
        {{else}}
          {{rui-icon name='chevron-left'}}
        {{/if}}
    {{/rui-button}}
  </div>
</div>
