<div class='rui-header'>

  {{!-- This slides out in when at small screen size or when menu-inficed --}}
  <div class="rui-header-menu-block btn-group">

    <div class='rui-show-menu-toggle btn-group'>
      {{#rui-button action='toggleMenu' style='link' class='rui-show-menu-toggle-btn (if menu.showMenu "active")' }}
        {{rui-icon name='bars'}}
      {{/rui-button}}
    </div>

    {{rui-nav-brand-dropdown}}
  </div>

  {{rui-nav-user-dropdown}}
</div>
