<div class='rui-header'>
  <div class='rui-show-menu-toggle {{unless menu.unfixMenu 'hide'}}'>
    {{#rui-button action='toggleMenu' style='link' class=(if menu.showMenu 'active') }}
      <i class='fa fa-bars' />
    {{/rui-button}}
  </div>
  {{rui-nav-user-dropdown}}
</div>
