<section>
  <h1 class='page-header'>
    {{header-anchor name='icons' data-title='Icons'}}
    <small><code>&lbrace;&lbrace;rui-icon&rbrace;&rbrace;</code></small>
  </h1>
  <p>Add a graphical icon from the <a href='http://fontawesome.io/icons/' target='_blank'>FontAwesome library</a>. Set the attribute <code>spin=true</code> to have the icon spin.</p>
  <div class='card card-code-example'>
    <div class='card-block'>
      {{rui-icon name='thumbs-up'}}
      {{rui-icon name='spinner' spin=true}}

    </div>
    <div class='card-footer'><pre><code class='handlebars'>
&lbrace;&lbrace;rui-icon name='thumbs-up'&rbrace;&rbrace;
&lbrace;&lbrace;rui-icon name='spinner' spin=true&rbrace;&rbrace;
    </code></pre></div>
  </div>
</section>
