<nav>
  <section class='nav-group'>
    <ul class='nav-menu'>
      <li class='nav-item active'><i class='fa fa-tachometer' /> <a href='#'>Overview</a>
        <ul class='nav-menu'>
          <li class='nav-item'><a href='#'>Activities</a></li>
          <li class='nav-item'><a href='#'>Participants</a></li>
          <li class='nav-item'><a href='#'>Groups</a></li>
        </ul>
      </li>
      <li class='nav-item'><i class='fa fa-envelope-o' /> <a href='#'>Messages</a>
        <ul class='nav-menu'>
          <li class='nav-item'><a href='#'>Incoming</a></li>
          <li class='nav-item'><a href='#'>Outgoing</a></li>
        </ul>
      </li>
      <li class='nav-item'><i class='fa fa-clone' /> <a href='#'>Explore</a></li>
      <li class='nav-item'><i class='fa fa-bar-chart' /> <a href='#'>Findings</a></li>
    </ul>
  </section>
  <section class='nav-group'>
    <h6 class='nav-title'>Project Setup</h6>
    <ul class='nav-menu'>
      <li class='nav-item'><i class='fa fa-cog' /> <a href='#'>Settings</a></li>
      <li class='nav-item'><i class='fa fa-users' /> <a href='#'>Team</a></li>
      <li class='nav-item'><i class='fa fa-user' /> <a href='#'>Participants</a></li>
      <li class='nav-item'><i class='fa fa-clone' /> <a href='#'>Activities &amp; Scheduling</a></li>
    </ul>
  </section>
</nav>

<style>
.nav-menu {
  list-style-type: none;
}

.nav-item .nav-menu {
  display: none;
}

.nav-item.active .nav-menu {
  display: block;
}
</style>
