<nav class='d-nav'>
  <dl>
    <dt>
      {{#link-to 'index'}}
        Home
      {{/link-to}}
    </dt>
    <dt>
      {{#link-to 'styles'}}
        Styles
      {{/link-to}}
    </dt>
    <dt>
      {{#link-to 'components'}}
        Components
      {{/link-to}}
    </dt>
    <dt>
      {{#link-to 'layout'}}
        Layout
      {{/link-to}}
    </dt>
   {{!-- TBD: Need to figure out how to get these in as query params --}}
   {{!--  <dt>
      <a href="#buttons">Buttons</a>
    </dt>
      <dd>
        <a href="#button-styles">Styles</a>
      </dd>
      <dd>
        <a href="#button-sizes">Sizes</a>
      </dd>
      <dd>
        <a href="#button-blocks">Blocks</a>
      </dd>
      <dd>
        <a href="#button-loading">Loading State</a>
      </dd>
      <dd>
        <a href="#button-disabled">Disabled State</a>
      </dd>
      <dd>
        <a href="#button-action">Action</a>
      </dd>
      <dd>
        <a href="#button-params">Action Parameters</a>
      </dd> --}}
  </dl>
</nav>
