<nav>
  <section class='rui-nav-vertical-group'>
    <ul class='rui-nav-vertical-menu'>
      <li class='rui-nav-vertical-item hasChildren active'>
        <i class='fa fa-tachometer' />
        <a>Overview</a>
        <ul class='rui-nav-vertical-menu'>
          <li class='rui-nav-vertical-item hasChildren active'>
            <a>Activities</a>
            <!-- TODO: Sub-Sub menus need work.
            <ul class='rui-nav-vertical-menu'>
              <li class='rui-nav-vertical-item active'>
                <a>Sub-Sub</a>
              </li>
            </ul>
            -->
          </li>
          <li class='rui-nav-vertical-item'>
            <a>Participants</a>
          </li>
          <li class='rui-nav-vertical-item'>
            <a>Groups</a>
          </li>
        </ul>
      </li>
      <li class='rui-nav-vertical-item hasChildren'>
        <i class='fa fa-envelope-o' />
        <a>Messages</a>
        <ul class='rui-nav-vertical-menu'>
          <li class='rui-nav-vertical-item'>
            <a>Incoming</a>
          </li>
          <li class='rui-nav-vertical-item'>
            <a>Outgoing</a>
          </li>
        </ul>
      </li>
      <li class='rui-nav-vertical-item hasChildren'>
        <i class='fa fa-clone' />
        <a>Explore</a>
      </li>
      <li class='rui-nav-vertical-item hasChildren'>
        <i class='fa fa-bar-chart' />
        <a>Findings</a>
      </li>
    </ul>
  </section>
  <section class='rui-nav-vertical-group'>
    <h6 class='rui-nav-vertical-title'>Project Setup</h6>
    <ul class='rui-nav-vertical-menu'>
      <li class='rui-nav-vertical-item hasChildren'>
        <i class='fa fa-cog' />
        <a>Settings</a>
      </li>
      <li class='rui-nav-vertical-item'>
        <i class='fa fa-users' />
        <a>Team</a>
      </li>
      <li class='rui-nav-vertical-item'>
        <i class='fa fa-user' />
        <a>Participants</a>
      </li>
      <li class='rui-nav-vertical-item'>
        <i class='fa fa-clone' />
        <a>Activities &amp; Scheduling</a>
      </li>
    </ul>
  </section>
</nav>
