<section>
  <h1 class='page-header'>
    {{header-anchor name='nav-vertical' data-title='Navigation (Vertical)'}}
    <small><code>&lbrace;&lbrace;rui-nav-vertical&rbrace;&rbrace;</code></small>
  </h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce at varius leo, nec ultrices odio.</p>
  <div class='card card-code-example'>
    <div class='card-block' style='width: 18rem;'>
      {{rui-nav-vertical}}
    </div>
    <div class='card-footer'><pre><code class='handlebars'>
      &lbrace;&lbrace;rui-nav-vertical&rbrace;&rbrace;
    </code></pre></div>
  </div>
</section>
