<nav>
  <section class='nav-group'>
    <ul class='nav-menu'>
      <li class='nav-item active'><i class='fa fa-tachometer' /> <a nohref>Overview</a>
        <ul class='nav-menu'>
          <li class='nav-item active'><a nohref>Activities</a>
            <!-- Sub-Sub Menu styles need work.
            <ul class='nav-menu'>
              <li class='nav-item'><a nohref>sub-sub menu test</a></li>
              <li class='nav-item active'><a nohref>sub-sub menu test</a></li>
              <li class='nav-item'><a nohref>sub-sub menu test</a></li>
            </ul>
            -->
          </li>
          <li class='nav-item'><a nohref>Participants</a></li>
          <li class='nav-item'><a nohref>Groups</a></li>
        </ul>
      </li>
      <li class='nav-item inactive'><i class='fa fa-envelope-o' /> <a nohref>Messages</a>
        <ul class='nav-menu'>
          <li class='nav-item'><a nohref>Incoming</a></li>
          <li class='nav-item'><a nohref>Outgoing</a></li>
        </ul>
      </li>
      <li class='nav-item inactive'><i class='fa fa-clone' /> <a nohref>Explore</a></li>
      <li class='nav-item inactive'><i class='fa fa-bar-chart' /> <a nohref>Findings</a></li>
    </ul>
  </section>
  <section class='nav-group'>
    <h6 class='nav-title'>Project Setup</h6>
    <ul class='nav-menu'>
      <li class='nav-item inactive'><i class='fa fa-cog' /> <a nohref>Settings</a></li>
      <li class='nav-item'><i class='fa fa-users' /> <a nohref>Team</a></li>
      <li class='nav-item'><i class='fa fa-user' /> <a nohref>Participants</a></li>
      <li class='nav-item'><i class='fa fa-clone' /> <a nohref>Activities &amp; Scheduling</a></li>
    </ul>
  </section>
</nav>
