<section>
  <h1 class='page-header'>
    {{header-anchor name='input-text' data-title='Input (text)'}}
    <small><code>&lbrace;&lbrace;rui-text-input&rbrace;&rbrace;</code></small>
  </h1>
  <p>Extends Ember.TextField with default classnames and additional options. <a href='http://emberjs.com/api/classes/Ember.TextField.html' target="blank">See Ember.TextField</a></p>
  <div class='card card-code-example'>
    <div class='card-block' style='width: 18rem;'>
      {{rui-input-text placeholder='Enter text...'}}
    </div>
    <div class='card-footer'><pre><code class='handlebars'>
&lbrace;&lbrace;rui-input-text placeholder='Enter-text..'&rbrace;&rbrace;
    </code></pre></div>
  </div>
</section>
