$rui-nav-bg:                #fff;

$gray-dark:                 #58585b;
$gray:                      #909091;
$gray-light:                #cccccc;
$gray-lighter:              #e8e5e3;
$gray-lightest:             #efeeed;
$gray-base:                 #f6f5f3;

$rui-border-color-dark:     $gray-light;
$rui-border-color-light:    $gray-lighter;
$rui-divider-color:         $gray-lightest;

$rui-text-color:            $gray-dark;
$rui-text-color-disabled:   $gray-light;
$rui-text-color-muted:      $gray;

$brand-danger:              #f26d63 !default;
$brand-info:                #5b91cc !default;
$brand-primary:             #f7931d !default;
$brand-success:             #a3cf62 !default;
$brand-warning:             #ffc619 !default;

$font-family-sans-serif:     "Open Sans", Helvetica, Arial, sans-serif;

$body-bg:                    $gray-base;
$body-color:                 $rui-text-color;
$link-color:                 $brand-primary;
$font-size-root:             14px;
$font-size-sm:               .92rem;
$text-muted:                 $rui-text-color-muted;

$avatar-dim: 2.2857142857rem; // ~32px
$avatar-sm-dim: 1.7142857143rem; // ~24px
$avatar-lg-dim: 3rem; // ~42px

// This may get fixed at some point when bs4 stablizes
$card-border-width:          1px;
$card-border-radius-inner:   .25rem;

$reg-loader: '/ember-cli-revelation-ui/assets/images/loader-big.png';
$retina-loader: '/ember-cli-revelation-ui/assets/images/loader-big@2x.png';
$default-avatar-small: '/ember-cli-revelation-ui/assets/images/default-avatar-small.png';
$default-avatar-large: '/ember-cli-revelation-ui/assets/images/default-avatar-large.png';

// Buttons
@function borderColor($color) {
  @return darken($color, 8%)
}

$btn-primary-color:              #fff;
$btn-primary-bg:                 $brand-primary;
$btn-primary-border:             borderColor($brand-primary);

$btn-secondary-color:            $rui-text-color;
$btn-secondary-bg:               $gray-base;
$btn-secondary-border:           $rui-border-color-dark;

$btn-info-color:                 #fff;
$btn-info-bg:                    $brand-info;
$btn-info-border:                borderColor($brand-info);

$btn-success-color:              #fff;
$btn-success-bg:                 $brand-success;
$btn-success-border:             borderColor($brand-success);

$btn-warning-color:              #fff;
$btn-warning-bg:                 $brand-warning;
$btn-warning-border:             borderColor($brand-warning);

$btn-danger-color:               #fff;
$btn-danger-bg:                  $brand-danger;
$btn-danger-border:              borderColor($brand-danger);
