// Rui custom variables
$root:                          14;

$rui-nav-bg:                    #fff !default;

$rui-border-color-dark:         #ccc !default;
$rui-border-color-light:        #f3f1ee !default;

$rui-text-color:           #58585b !default;
$rui-text-color-muted:     #A7B4B5 !default;
$rui-text-color-light:     #d4d4d4  !default;
