{{#rui-dropdown-trigger id='brandSelector' class='rui-nav-brand-dropdown-trigger'}}
  <i class='logo-type-revelation'>Revelation</i>
{{/rui-dropdown-trigger}}
{{#rui-dropdown-menu aria-labelledby='brandSelector'}}
  <a href='' class='dropdown-item'><i class='logo-square logo-square-sm logo-square-decipher' /> Decipher</a>
  <a href='' class='dropdown-item'><i class='logo-square logo-square-sm logo-square-librarian' /> Librarian</a>
{{/rui-dropdown-menu}}
