@mixin svgColor($color)
  svg
    path
      fill: $color

.btn
  border-bottom-width: 2px
  &-primary
    @include svgColor($btn-primary-color)
  &-secondary
    @include svgColor($btn-secondary-color)
  &-info
    @include svgColor($btn-info-color)
  &-success
    @include svgColor($btn-success-color)
  &-warning
    @include svgColor($btn-warning-color)
  &-danger
    @include svgColor($btn-danger-color)


// Remove any chrome from button element
.btn-unstyled
  background: transparent
  white-space: nowrap
  vertical-align: middle
  touch-action: manipulation
  cursor: pointer
  user-select: none
  border: 0 none
  padding: 0
  outline: 0
  &:hover,
  &:focus,
  &:active,
  &.active
    background-image: none
    background: none
    outline: 0
