main
  nav
    width: 25%
    min-width: 210px
    max-width: 240px
    dl
      margin: 0
      dt, dd
        border-left: 5px solid transparent
      dt
        padding: 11px 30px
        font-weight: 700
        i
          margin-right: .75rem
      dd
        margin-left: 0
        font-size: 13px
        &:hover
          border-color: #e5e3e0
        &.active
          background-color: #fbfaf8
          border-color: #f7941e
        a
          display: block
          padding: 11.5px 30px 11.5px 3.5rem
          &:hover
            text-decoration: none
