<div class='center-fix'>
  <div class='center-container'>
    <div class="center">
      <div class='loading'>
        <div class='spinner-lg'></div>
        <div class="loading-message">Loading...</div>
      </div>
    </div>
  </div>
</div>
