<section>
  <h2 class='page-header'><a name='buttons' href='#buttons'>Buttons <code>&lbrace;&lbrace;rui-button&rbrace;&rbrace;</code></a></h2>
  <p>A button is used to trigger an immediate action such as form submission. Buttons should not be used for navigation.</p>
  <p>An <code>rui-button</code> block renders an HTML <code>button</code> element. The <code>button</code>'s content&thinsp;—&thinsp;text, an icon, or both&thinsp;—&thinsp;is contained within the <code>rui-button</code> block and passed through safely. All attributes may be omitted and will fall-back onto their defaults.</p>
  <table class='table'>
    <thead>
      <tr>
        <th>Property</th>
        <th>Attribute Types</th>
        <th>Available Options</th>
        <th>Default</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href='#button-styles'>style</a></td>
        <td>[string]</td>
        <td>'default', 'primary', 'success', 'info', 'warning', 'danger', 'link'</td>
        <td>'default'</td>
      </tr>
      <tr>
        <td><a href='#button-sizes'>size</a></td>
        <td>[string]</td>
        <td>'lg', 'sm', 'xs'</td>
        <td>null</td>
      </tr>
      <tr>
        <td><a href='#button-blocks'>block</a></td>
        <td>[boolean]</td>
        <td>true/false</td>
        <td>false</td>
      </tr>
      <tr>
        <td><a href='#button-loading'>isLoading</a></td>
        <td>[action name]</td>
        <td>Name of the action that loading state is attached to.</td>
        <td>null</td>
      </tr>
      <tr>
        <td><a href='#button-action'>action</a></td>
        <td>[string]</td>
        <td>true/false</td>
        <td>false</td>
      </tr>
      <tr>
        <td><a href='#button-params'>disabled</a></td>
        <td>[boolean]</td>
        <td>true/false</td>
        <td>false</td>
      </tr>
      <tr>
        <td><a href='#button-params'>disabled</a></td>
        <td>[boolean]</td>
        <td>true/false</td>
        <td>false</td>
      </tr>
    </tbody>
  </table>

  <h3>Properties</h3>

  <h4><a name='button-styles' href='#button-styles'>Styles</a></h4>
  <p>Button styles provide context through visual cues.</p>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <strong class='text-uppercase text-muted'>Example</strong>
    </div>
    <div class='panel-body'>
      {{#rui-button}}Default{{/rui-button}}
      {{#rui-button style='primary'}}Primary{{/rui-button}}
      {{#rui-button style='success'}}Success{{/rui-button}}
      {{#rui-button style='info'}}Info{{/rui-button}}
      {{#rui-button style='warning'}}Warning{{/rui-button}}
      {{#rui-button style='danger'}}Danger{{/rui-button}}
      {{#rui-button style='link'}}Link{{/rui-button}}
      {{#rui-button}}<i class='fa fa-download' />{{/rui-button}}
    </div>
    <div class='panel-footer'><pre><code class='handlebars'>
&lt;!-- Standard Button --&gt;
&lbrace;&lbrace;#rui-button&rbrace;&rbrace;Default&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lt;!-- Provides visual weight and identifies the primary action in a set of buttons --&gt;
&lbrace;&lbrace;#rui-button style='primary'&rbrace;&rbrace;Primary&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lt;!-- Indicates a successful or positive action --&gt;
&lbrace;&lbrace;#rui-button style='success'&rbrace;&rbrace;Success&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lt;!-- Contextual button for informational alert messages --&gt;
&lbrace;&lbrace;#rui-button style='info'&rbrace;&rbrace;Info&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lt;!-- Indicates caution should be taken with this action --&gt;
&lbrace;&lbrace;#rui-button style='warning'&rbrace;&rbrace;Warning&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lt;!-- Indicates a dangerous or potentially negative action --&gt;
&lbrace;&lbrace;#rui-button style='danger'&rbrace;&rbrace;Danger&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lt;!-- Deemphasize a button by making it look like a link while maintaining button behavior --&gt;
&lbrace;&lbrace;#rui-button style='link'&rbrace;&rbrace;Link&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lt;!-- FontAwesome icons can be used in lieu of or in addition to text --&gt;
&lbrace;&lbrace;#rui-button&rbrace;&rbrace;&lt;i class='fa fa-download' /&gt;&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
    </code></pre></div>
  </div>

  <h4><a name='button-sizes' href='#button-sizes'>Sizes</a></h4>
  <p>Buttons are available in four sizes.</p>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <strong class='text-uppercase text-muted'>Example</strong>
    </div>
    <div class='panel-body'>
      <p>
        {{#rui-button size='lg'}}Large{{/rui-button}}
        {{#rui-button style='primary' size='lg'}}Large{{/rui-button}}
      </p>
      <p>
        {{#rui-button}}Standard{{/rui-button}}
        {{#rui-button style='primary'}}Standard{{/rui-button}}
      </p>
      <p>
        {{#rui-button size='sm'}}Small{{/rui-button}}
        {{#rui-button style='primary' size='sm'}}Small{{/rui-button}}
      </p>
      <p>
        {{#rui-button size='xs'}}Extra Small{{/rui-button}}
        {{#rui-button style='primary' size='xs'}}Extra Small{{/rui-button}}
      </p>
    </div>
    <div class='panel-footer'><pre><code class='handlebars'>
&lt;p&gt;
  &lbrace;&lbrace;#rui-button size='lg'&rbrace;&rbrace;Large&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
  &lbrace;&lbrace;#rui-button style='primary' size='lg'&rbrace;&rbrace;Large&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lt;/p&gt;
&lt;p&gt;
  &lbrace;&lbrace;#rui-button&rbrace;&rbrace;Standard&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
  &lbrace;&lbrace;#rui-button style='primary'&rbrace;&rbrace;Standard&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lt;/p&gt;
&lt;p&gt;
  &lbrace;&lbrace;#rui-button size='sm'&rbrace;&rbrace;Small&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
  &lbrace;&lbrace;#rui-button style='primary' size='sm'&rbrace;&rbrace;Small&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lt;/p&gt;
&lt;p&gt;
  &lbrace;&lbrace;#rui-button size='xs'&rbrace;&rbrace;Extra Small&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
  &lbrace;&lbrace;#rui-button style='primary' size='xs'&rbrace;&rbrace;Extra Small&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lt;/p&gt;
    </code></pre></div>
  </div>

  <h4><a name='button-blocks' href='#button-blocks'>Block-Level</a></h4>
  <p>Create block-level buttons&thinsp;&mdash;&thinsp;those that span the full width of a parent&thinsp;&mdash;&thinsp;by setting the <code>block</code> attribute to <code>'true'</code>.</p>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <strong class='text-uppercase text-muted'>Example</strong>
    </div>
    <div class='panel-body'>
      <p>
        {{#rui-button size='lg' block='true'}}Large Block-Level Button{{/rui-button}}
      </p>
      <p>
        {{#rui-button style='primary' block='true'}}Primary Block-Level Button{{/rui-button}}
      </p>
    </div>
    <div class='panel-footer'><pre><code class='handlebars'>
&lt;p&gt;
  &lbrace;&lbrace;#rui-button size='lg' block='true'&rbrace;&rbrace;Large Block-Level Button&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lt;/p&gt;
&lt;p&gt;
  &lbrace;&lbrace;#rui-button style='primary' block='true'&rbrace;&rbrace;Primary Block-Level Button&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lt;/p&gt;
    </code></pre></div>
  </div>

  <h4><a name='button-loading' href='#button-loading'>Loading State</a></h4>
  <p>Indicate whether an action is currently being performed by passing the action name to the <code>isLoading</code> attribute. This will add a spinner to the button until the action is completed. The value of <code>isLoading</code> must <em>not</em> be wrapped in quotes.</p>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <strong class='text-uppercase text-muted'>Example</strong>
    </div>
    <div class='panel-body'>
      <p>
        {{#rui-button action='asyncAction1' isLoading=asyncAction1}}Loading Button{{/rui-button}}
      </p>
      <p>
        {{#rui-button style='primary' action='asyncAction2' isLoading=asyncAction2}}Another Loading Button{{/rui-button}}
      </p>
    </div>
    <div class='panel-footer'><pre><code class='handlebars'>
&lt;p&gt;
  &lbrace;&lbrace;#rui-button action='asyncAction' isLoading=asyncAction&rbrace;&rbrace;Loading Button&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lt;/p&gt;
&lt;p&gt;
  &lbrace;&lbrace;#rui-button style='primary' action='anotherAsyncAction' isLoading=anotherAsyncAction&rbrace;&rbrace;Another Loading Button&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
&lt;/p&gt;
    </code></pre></div>
  </div>

  <h4><a name='button-disabled' href='#button-disabled'>Disabled</a></h4>
  <p>Provide visual cues that a button is not clickable by setting the <code>disabled</code> attribute to <code>'true'</code>.</p>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <strong class='text-uppercase text-muted'>Example</strong>
    </div>
    <div class='panel-body'>
      {{#rui-button disabled='true'}}Default{{/rui-button}}
      {{#rui-button style='primary' disabled='true'}}Primary{{/rui-button}}
      {{#rui-button style='success' disabled='true'}}Success{{/rui-button}}
      {{#rui-button style='warning' disabled='true'}}Warning{{/rui-button}}
      {{#rui-button style='danger' disabled='true'}}Danger{{/rui-button}}
      {{#rui-button style='link' disabled='true'}}Link{{/rui-button}}
      {{#rui-button disabled='true'}}<i class='fa fa-download' />{{/rui-button}}
    </div>
    <div class='panel-footer'><pre><code class='handlebars'>
&lbrace;&lbrace;#rui-button disabled='true'&rbrace;&rbrace;Default&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lbrace;&lbrace;#rui-button style='primary' disabled='true'&rbrace;&rbrace;Primary&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lbrace;&lbrace;#rui-button style='success' disabled='true'&rbrace;&rbrace;Success&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lbrace;&lbrace;#rui-button style='info' disabled='true'&rbrace;&rbrace;Info&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lbrace;&lbrace;#rui-button style='warning' disabled='true'&rbrace;&rbrace;Warning&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lbrace;&lbrace;#rui-button style='danger' disabled='true'&rbrace;&rbrace;Danger&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lbrace;&lbrace;#rui-button style='link' disabled='true'&rbrace;&rbrace;Link&lbrace;&lbrace;/rui-button&rbrace;&rbrace;

&lbrace;&lbrace;#rui-button disabled='true'&rbrace;&rbrace;&lt;i class='fa fa-download' /&gt;&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
    </code></pre></div>
  </div>

  <h3>Actions</h3>
  <p>Supply the action name to be handled by the application with the <code>action</code> property.</p>
  <h4><a name="button-action" href="#button-action">Action</a></h4>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <strong class='text-uppercase text-muted'>Example</strong>
    </div>
    <div class='panel-body'>
      {{#rui-button action='sendAction'}}Trigger Action{{/rui-button}}
    </div>
    <div class='panel-footer'><pre><code class='handlebars'>
&lbrace;&lbrace;#rui-button action='sendAction'&rbrace;&rbrace;Trigger Action&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
    </code></pre></div>
  </div>


  <p>An action can be sent up to two parameters by using the <code>params1</code> and <code>params2</code> attributes.</p>
  <h4><a name="button-params" href="#button-action">Action Parameters</a></h4>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <strong class='text-uppercase text-muted'>Example</strong>
    </div>
    <div class='panel-body'>
      {{#rui-button action='sendActionWithParams' param1='A simple parameter passed in' param2='Another parameter along for the ride'}}Trigger Action with Parameters{{/rui-button}}
    </div>
    <div class='panel-footer'><pre><code class='handlebars'>
&lbrace;&lbrace;#rui-button action='sendActionWithParams' param1='A simple parameter passed in' param2='Another parameter along for the ride'&rbrace;&rbrace;Trigger Action&lbrace;&lbrace;/rui-button&rbrace;&rbrace;
    </code></pre></div>
  </div>

</section>
