<h2 id="title">Revelation UI</h2>

<h5>Buttons</h5>
<h6>Styles</h6>
{{#rui-button style='default'}}Default{{/rui-button}}
{{#rui-button style='primary'}}Primary{{/rui-button}}
{{#rui-button style='success'}}Success{{/rui-button}}
{{#rui-button style='warning'}}Warning{{/rui-button}}
{{#rui-button style='danger'}}Danger{{/rui-button}}
{{#rui-button style='link'}}Link{{/rui-button}}

<h6>Sizes</h6>
{{#rui-button style='default' size='lg'}}Large{{/rui-button}}
{{#rui-button style='default'}}Standard{{/rui-button}}
{{#rui-button style='default' size='sm'}}Small{{/rui-button}}
{{#rui-button style='default' size='xs'}}Extra-Small{{/rui-button}}


{{outlet}}
