<header>
  <h1 id="title">Revelation UI</h1>
</header>

<main class="row">
  {{partial "navigation"}}
  <article class="col-md-9">
    {{partial "partials/buttons"}}
    {{partial "partials/dropdowns"}}
    <!-- {{outlet}} -->
  </article>
</main>

<footer></footer>
