{{partial 'partials/header'}}


<main class='d-main'>
  <div class="container">
    <div class='row'>
      <div class='col-md-3'>
        {{partial 'partials/navigation'}}
      </div>

      <article class='col-md-9'>
        <h1 class='display-4'>
          Let there
          <br/>
           be UI...
        </h1>
        <h4>and it was so</h4>
      </article>
    </div>
  </div>
</main>

{{#rui-nav-horizontal}}
  {{#rui-nav-horizontal-item}}
    {{#link-to 'index' class='nav-link'}}
      Home
    {{/link-to}}
  {{/rui-nav-horizontal-item}}
  {{#rui-nav-horizontal-item}}
    {{#link-to 'components' class='nav-link'}}
      Components
    {{/link-to}}
  {{/rui-nav-horizontal-item}}
  {{#rui-nav-horizontal-item}}
    {{#link-to 'styles' class='nav-link'}}
      Styles{{/link-to}}
  {{/rui-nav-horizontal-item}}
{{/rui-nav-horizontal}}
<footer></footer>
