{{partial 'partials/header'}}

<main class='d-main'>
  <div class="container">
    <div class='row'>
      <div class='col-md-3'>
        {{partial 'partials/navigation'}}
      </div>

      <article class='col-md-9'>
        <h1 class='display-4'>
          Let there
          <br/>
           be UI...
        </h1>
        <h4>and it was so</h4>
      </article>
    </div>
  </div>
</main>

<footer></footer>
