<div class=''>{{!-- rui-layout-full rui-layout-expando rui-layout-mini --}}
  <div class='rui-header'>Header</div>
  <div class='rui-sidebar-left'>Sidebar</div>
  <div class='rui-main'>Main</div>
  <div class='rui-footer'>Footer</div>
</div>
{{outlet}}
