<nav class="col-md-3">
  <dl>
    <dt>
      <a href="#buttons">Buttons</a>
    </dt>
      <dd>
        <a href="#button-styles">Styles</a>
      </dd>
      <dd>
        <a href="#button-sizes">Sizes</a>
      </dd>
      <dd>
        <a href="#button-blocks">Block-Level</a>
      </dd>
  </dl>
</nav>
