<nav>
  <dl>
    <dt><i class="fa fa-info-circle"></i>Overview</dt>
      <dd class="active">Forward</dd>
      <dd>Acknowledgements</dd>
    <dt><i class="fa fa-text-height"></i>Typography</dt>
      <dd>Headings</dd>
      <dd>Body Copy</dd>
    <dt><i class="fa fa-table"></i>Tables</dt>
      <dd>Basic</dd>
      <dd>Striped</dd>
      <dd>Bordered</dd>
  </dl>
</nav>
