<nav>
  <dl>
    <dt class="active">
      <i class="fa fa-info-circle"></i>
      Overview
    </dt>
      <dd class="active">
        <a href="#">Introduction</a>
      </dd>
      <dd>
        <a href="#">Acknowledgements</a>
      </dd>
    <dt><i class="fa fa-text-height"></i>Typography</dt>
      <dd>
        <a href="#">Headings</a>
      </dd>
      <dd>
        <a href="#">Body Copy</a>
      </dd>
    <dt><i class="fa fa-table"></i>Tables</dt>
      <dd>
        <a href="#">Basic</a>
      </dd>
      <dd>
        <a href="#">Striped</a>
      </dd>
      <dd>
        <a href="#">Bordered</a>
      </dd>
  </dl>
</nav>
