<header class='d-header'>
  <div class="container">
    <div class='row'>
      <div class='col-md-3'>
        <h1>{{#link-to 'index'}}
          Revelation UI
        {{/link-to}}</h1>
      </div>
    </div>
  </div>
</header>

<main class='d-main'>
  <div class="container">
    <div class='row'>
      <div class='col-md-3'>
        {{partial 'partials/navigation'}}
      </div>

      <article class='col-md-9'>

        {{!-- Style Guides --}}
        {{partial "partials/colors"}}
        {{partial 'partials/typography'}}

        {{!-- Just in case ... --}}
        {{outlet}}
      </article>
    </div>
  </div>
</main>

<footer></footer>
