{{#rui-dropdown-trigger id='userMenu' class='rui-nav-user-dropdown-trigger'}}
  <!--
    NOTE: This should probably be an img placeholder helper/component.
      Also, the image is set to 31 pixels to account for the header height
      not lining up at exactly 31 pixels. This might be better served by
      vertically aligning with flexbox instead of `$spacers`.
  -->
  <img src='http://placehold.it/31/f7941e/ffffff?text=%20' />
{{/rui-dropdown-trigger}}

{{#rui-dropdown-menu aria-labelledby='userMenu' align='right' class='rui-nav-user-dropdown-menu'}}
  <div class='dropdown-header-block'>
    <div class='dropdown-header'>Signed in as</div>
    <div class="user-name">
      <strong>User N</strong> (user-role)
    </div>
  </div>
  <a class='dropdown-item'>Profile &amp; Settings</a>
  <a class='dropdown-item'>Sign Out</a>
  <!-- TODO: Needs user role conditionals -->
  <br />
  <div class='dropdown-header'>Superuser</div>
  <a class='dropdown-item'>Operations</a>
  <a class='dropdown-item'>Accounts</a>
  <a class='dropdown-item'>Rollout</a>
  <a class='dropdown-item'>Announcements</a>
{{/rui-dropdown-menu}}
